<div id="<%= dom_id session %>">
  <p>
    <strong>User:</strong>
    <%= session.user_id %>
  </p>

  <p>
    <strong>User agent:</strong>
    <%= session.user_agent %>
  </p>

  <p>
    <strong>Ip address:</strong>
    <%= session.ip_address %>
  </p>

</div>
