<html>
  <head>
    <%= yield :head %>
  </head>
  <body>
    <%= yield %>

    <aside class="p-2.5 pl-1.5">
      <!-- Secondary column (hidden on smaller screens) -->
      <div class="h-full bg-white rounded-xl overflow-hidden dark:bg-slate-900 dark:border-slate-800"
           style="view-transition-name: aside">
        <% if content_for? :aside %>
          <%= yield :aside %>
        <% else %>
          <img class="h-full w-full object-cover" src="https://images.unsplash.com/photo-1560803262-95a9de00a057?q=80&amp;w=3687&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        <% end %>
      </div>
    </aside>
  </body>
</html>
