@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .marker-none::marker { content: ""; }
  .marker-none::-webkit-details-marker { display: none; }
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}

::view-transition-new(aside) {
  animation: 0.25s ease 0s slideInRight backwards;
}

::view-transition-old(aside) {
  animation: 0.125s ease 0s slideOutRight forwards;
}
