@import 'actiontext.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .marker-none::marker { content: ""; }
  .marker-none::-webkit-details-marker { display: none; }
}

@keyframes fade-in {
  from { opacity: 0; }
}
@keyframes fade-out {
  to { opacity: 0; }
}
@keyframes slide-from-right {
  from { transform: translateX(30px); }
}
@keyframes slide-to-left {
  to { transform: translateX(-30px); }
}
@keyframes slide-to-right {
  to { transform: translateX(30px); }
}
@keyframes slide-from-left {
  from { transform: translateX(-30px); }
}

[popovertarget] {
  anchor-name: var(--anchor-name);
}
[popover] {
  anchor-default: var(--anchor);
  position-fallback: --fallback;
}
@position-fallback --fallback {
  @try {
    bottom: anchor(top);
    left: anchor(left)
  }
  @try {
    top: anchor(bottom);
    left: anchor(left)
  }
}
[popover] {
  position: absolute;
  inset: auto;
  margin: 0;
  padding: 0;
}

::view-transition-group(*),
::view-transition-old(*),
::view-transition-new(*) {
  animation-duration: 210ms;
}

::view-transition-old(notice),
::view-transition-new(notice) {
  /* Make the text views match the height of their group */
  height: 100%;
}

/* only apply the view transition animation, when the navigation is _not_ coming _from_ a Task Show page */
/* :not([data-from-path^="/tasks/"])::view-transition-old(aside) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}
:not([data-from-path^="/tasks/"])::view-transition-new(aside) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
} */
